.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.fseventsd
.VolumeIcon.icns
.apdisk
Icon?

*~
.directory
.Trash-*
.nfs*

Thumbs.db
ehthumbs.db
Desktop.ini


.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

*.o
*.obj
*.a
*.so
*.dylib
*.dll
*.exe
*.out